---
# Front Matter
---

@import "minimal-mistakes";

/* Manual Teal Accents */
a {
  color: #1DE9B6 !important;
}

.btn--primary {
  background-color: #D500F9 !important;
  border-color: #D500F9 !important;
  color: #000 !important;
}

.nav__list .active {
  color: #1DE9B6 !important;
}