---
# Jekyll Front Matter
---

@import "minimal-mistakes/skins/dark";
@import "minimal-mistakes";

/* Simple teal overrides */
a {
  color: #1DE9B6;
}

.btn--primary {
  background-color: #1DE9B6 !important;
  color: #000 !important;
}